<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <div v-for="angka in 10">
            {{ angka }}
        </div>

        <ul v-for="(fruit, index) in fruits">
            <li>{{ fruit }} {{ index }} <button @click="hapus(index)">x</button></li>
        </ul>

        <ul v-for="(item, index) in footballPlayer">
            <li>{{ item.name }} - {{ item.position }} - {{ index }}</li>
        </ul>
    </div>

<script type="module">
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

  createApp({
    data() {
      return {
        fruits: ['semangka', 'durian', 'jeruk', 'melon', 'nangka'],
        footballPlayers: [
        {name: 'messi', position: 'forward'},
        {name: 'ronaldo', position: 'forward'},
        {name: 'casilas', position: 'goal keeper'},
        {name: 'ramos', position: 'defender'},
        {name: 'modric', position: 'mid fielder'}
        ]
      }
    },
    methods: {
        hapus(index) {
            this.fruits.splice(index, 1)
        }
    }
  }).mount('#app')
</script>

</body>
</html>